includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    ignoreErrors:
    		-
    			identifier: missingType.iterableValue

    checkModelProperties: true

    paths:
        - src

    level: 8
